body{
    background-image: url('background.svg');
    color: #feffff;
    letter-spacing: .75px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face{
    font-family: Ailerons;
    src: url('Ailerons-Typeface.otf');
}

h1{
    font-family: Ailerons;
    font-size: 60px;
    line-height: 60px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background: rgba(0,0,0,.25);
    box-shadow: 0px 0px 100px 5px #000000;
}

#header{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    
}

#info{
    padding: 10px;
    background: rgba(0,0,0,.75);
    box-shadow: 0px 0px 100px 25px #000000;
    z-index: 1;
}

@media (max-width: 600px){
    #code{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: auto;
    }
}

#code{
    display: flex;
    justify-content:space-around;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}

#editor {
    width: 900px;
    height: 350px;
    min-width: 70%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #232323,
    -5px -5px 10px #232323;
    
}

details{
    width: 50%;
    margin: auto;
    position: absolute;
    z-index: 1;

}

details::shadow{
    background: rgba(0,0,0,.75);
    box-shadow: 0px 0px 100px 5px #000000;
}

@media (max-width: 600px) {
    ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        background: #592b82;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #232323,
        -5px -5px 10px #232323;
    }
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background: #592b82;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #232323,
    -5px -5px 10px #232323;
}

ul li{
    float: right;
    text-align: right;
}

li:not(:last-child) { 
    margin-bottom: 25px;  
}

#results{
    position: relative;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #232323,
    -5px -5px 10px #232323;
}

#output{
    background-color: #feffff;
    color: #232323;
    padding: 15px;
    margin-top: 5px;
    position: relative;
    height: 100px;
    border-radius: 10px;
}

button{
    border-style: none;
    width: 100%;
    color: #feffff;
    letter-spacing: .5px;
    height: 30px;
    background-color: #9d9ba0;
    border-radius: 2.5px;
    box-shadow: 0px 2px 3px #232323;
    padding: 6px;
}

button:hover{
    background-color: #1b2e39;
    cursor: pointer;
}

#infoButton{
    width: fit-content;
}

.xButton{
    width: 5%;
    float: left;
    box-shadow: none;
    background: none;
    color: rgb(255, 120, 120);
}

.xButton:hover{
    background: none;
    color: #feffff;
}

.dot-flashing {
    position: relative;
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #feffff;
    color: #feffff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #feffff;
    }
    50%, 100% {
      background-color: rgba(225, 225, 225, 0.2);
    }
  }